@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
}

.container {
  width: 400px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  border-radius: 8px;
}

form {
  margin-top: 2.4rem;
}

.form__group {
  display: flex;
  flex-direction: column;

  margin-bottom: 2.4rem;
}

label {
  color: #777777;
  margin-bottom: 0.8rem;
}

input {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
}

button {
  padding: 1rem 0;
  border: none;
  background-color: teal;
  color: #ffffff;
  border-radius: 2px;
}

.error {
  font-size: 1.4rem;
  color: red;
  padding-left: 2rem;
}

.popup-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* z-index: 10; */
}

.popup {
  width: 50%;
  padding: 8rem 2rem;
  text-align: center;
  border-radius: 8px;
  /* z-index: 100; */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.hidden {
  display: none;
}

.invalid {
  border: 1px solid red;
}

.valid {
  border: 1px solid green;
}
