@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #296ca8;
  color: #fff;
}

h1 {
  font-size: 4rem;
}

.search {
  width: 60%;
  max-width: 80rem;
  margin-top: 2.4rem;
}

.search__input {
  width: 100%;
  padding: 0.8rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
}

.posts {
  width: 60%;
  max-width: 80rem;
  margin-top: 4rem;
}

.post {
  background-color: #4992d3;
  margin: 2.4rem 0;
  padding: 1.6rem;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);

  position: relative;
}

.post-number {
  position: absolute;
  top: -15px;
  left: -15px;
  color: #296ca8;
  background-color: #fff;
  padding: 8px 14px;
  border-radius: 50%;
}

.post-title {
  margin-bottom: 2.4rem;
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 2.4rem;
}

.show {
  opacity: 1;
}

.circle {
  background-color: #fff;
  width: 10px;
  height: 10px;
  margin: 0 0.8rem;
  border-radius: 50%;
  animation: bounce 0.6s ease-in infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}
