html {
    font-family: 'Questrial', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}

h1 {
    color: #ffffff;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: #000;
    border-radius: 10px 10px 0px 0px;
}

.controls {
    background-color: #333;
    color: #fff;
    width: 60%;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 10px 0px 10px 0px;
}

.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play {
    color: #28a745;
    margin-left: 10px;
}

.controls .fa-stop {
    color: #dc3545
}

.controls .fa-pause {
    color: #fff;
    margin-left: 10px;
}

.controls .timestamp {
    color:#fff;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
}

.btn:focus {
    outline: 0;
}

@media (max-width: 800px) {
    .screen, .controls {
        width: 90%;
    }
}