html {
    font-family: 'Lato', sans-serif;
    background-color: #242333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#movie {
    padding: px 30px 5px 5px;
    margin-left: 10px;
    border-radius: 5px;
}

.seat {
    height: 12px;
    width: 15px;
    border-radius: 10px 10px 0 0;
    margin: 5px 5px 0px 0px;
    background-color: #444451;
    cursor: pointer;
}

#showcase {
    background-color:rgba(0, 0, 0, 0.1);
    color: #777777;
    margin: 30px 10px;
    padding: 0px 20px;
    border-radius: 5px;
    display: flex;
}

#showcase div {
    display: flex;
    align-items: center;
    margin: 5px;
}

.seat.selected {
    background-color: #6feaf6;
    cursor: auto;
}

.seat.occupied {
    background-color: white;
    cursor: auto;
}

#screen {
    background-color: white;
    width: 200px;
    height: 80px;
    align-self: center;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    /* transform: rotateX(-45deg); */
    /* perspective: 1000px; */
}

#summary {
    align-self: center;
}

p span {
    color: #6feaf6;
}

#seatingArea {
    display: flex;
    margin-top: 20px;
}

.col:nth-of-type(3) { 
    margin-left: 20px;
}

.col:nth-of-type(6) { 
    margin-right: 20px;
}

